[user]
  name  = "grezar"
  email = "grezar.dev@gmail.com"
[alias]
  ad = add -A
  ch = checkout
  br = branch
  di = diff
  st = status
  co = commit
  ci = commit -a
  pu = push
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[core]
  editor = nvim -c \"set fenc=utf-8\"
[ghq]
  root = ~/ghq/src
  vcs = git
